<h1>All culers</h1>
<%= link_to 'Add a Culer', culerify_new_path %>
<div>
  <table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
        <th>Position</th>
        <th>Kit number</th>
        <th>Actions</th>
    </tr>
    </thead>

    <% @culer.each do |culer| %>
      <tbody>
        <tr>
          <td><%= culer.id %></td>
          <td><%= link_to culer.name, culer_path(culer.id) %></td>
          <td><%= culer.age %></td>
          <td><%= culer.country %></td>
          <td><%= culer.position %></td>
          <td><%= culer.kit_number %></td>
          <td><%= link_to 'Edit', edit_culer_path(culer.id) %></td>
          <td>
            <%= form_with url: destroy_culer_path(culer.id), method: :delete do |f| %>
              <%= f.submit 'Delete' %>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>