<div class="flex justify-between items-center">
  <h1 class="text-[rgb(237,187,0)] text-2xl font-semibold">All culers</h1>
  <%= link_to 'Add a Culer', culerify_new_path, class: "px-4 py-2 bg-[rgb(168,19,62)] text-[rgb(237,187,0)] rounded-md font-md" %>
</div>

<div>
  <table class="mt-4 text-center w-full">
    <thead>
      <tr class="bg-gray-100">
        <th class="py-2" style="width: 1%">ID</th>
        <th style="width: 20%">Name</th>
        <th style="width: 1%">Age</th>
        <th style="width: 10%">Country</th>
        <th style="width: 5%">POS</th>
        <th style="width: 5%">#</th>
        <th colspan="2" style="width: 1%">Actions</th>
      </tr>
    </thead>

    <% @culer.each do |culer| %>
      <tbody>
        <tr class="border-t border-gray-100">
          <td class="py-2"><%= culer.id %></td>
          <td><%= link_to culer.name, culer_path(culer.id) %></td>
          <td><%= culer.age %></td>
          <td><%= culer.country %></td>
          <td><%= culer.position %></td>
          <td><%= culer.kit_number %></td>
          <td class="px-2"><%= link_to 'Edit', edit_culer_path(culer.id), class: "px-2 py-1 border border-gray-200 text-gray-600 rounded-md" %> </td>
          <td><%= button_to 'Delete', destroy_culer_path(culer.id), method: :delete, class: "ml-2 px-2 py-1 bg-rose-100 text-rose-700 rounded" %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>