<h1><%= @culer.name %> #<%= @culer.kit_number %></h1>
<h2>Position: <%= @culer.position %> </h2>
<h3>Country: <%= @culer.country %></h3>
<h3>Age: <%= @culer.age %></h3>
<%= link_to 'Back to all culers', culerify_path %>