<h1 class="text-2xl font-semibold mb-2"><%= @culer.name %> #<%= @culer.kit_number %></h1>
<h2>Age: <%= @culer.age %></h2>
<h3>Country: <%= @culer.country %></h3>
<h2 class="mb-4">Position: <%= @culer.position %> </h2>
<%= link_to '<- Back', culerify_path, class: "text-gray-400" %>